:host {
    display: flex;
    align-items: center;
    column-gap: 10px;
    .page-indicator {
        display: inline-flex;
        align-items: center;
        padding: 3px 10px;
        font-size: 18px;
        font-weight: 700;
        border-radius: 5px;
        background-color: var(--mainColor);
        color: white;
        .total {
            font-size: 12px;
            margin-left: 5px;
            opacity: 0.75;
        }
    }
}